@import "tailwindcss";
@import "tw-animate-css";




body {
  font-family: var(--font-urbanist), sans-serif;
  overflow-x: hidden;
}
.container {
  width: 1440px;
  padding: 0px 90px;
}



@media only screen and (max-width: 1200px) {
  .container {
    padding: 0px 10px;
    width: 1200px;

  }
}

@media only screen and (max-width: 992px) { 
  .container {
    padding: 0px 10px;
    width: 992px;
  }
}

@media only screen and (max-width: 768px) { 
  .container {
    padding: 0px 10px;
    width: 768px;
  }
}

@media only screen and (max-width: 640px){
  .container {
    padding: 0px 10px;
    width: 640px;
  }
  
}
@media only screen and (max-width: 530px){
  .renderContent {
    padding: 0px 10px;
    width: 470px;
  }
  .container {
    padding: 0px 5dvb;
    width: 530px;
  }
  
}
@media only screen and (max-width: 484px){
  .renderContent {
    padding: 0px 10px;
    width: 430px;
  }
  .container {
    padding: 0px 5px;
    width: 484px;
  }
  
}
@media only screen and (max-width: 434px){
  .renderContent {
    padding: 0px 10px;
    width: 400px;
  }
  .container {
    padding: 0px 5px;
    width: 434px;
  }
  
}

@media only screen and (max-width: 400px){
  .renderContent {
    padding: 0px 10px;
    width: 350px;
  }
  .container {
    padding: 0px 5px;
    width: 400px;
  }
  
}
@media only screen and (max-width: 340px){
  .renderContent {
    padding: 0px 5px;
    width: 300px;
  }
  .container {
    padding: 0px 5px;
    width: 340px;
  }
  
}
@media only screen and (max-width: 300px){
  .renderContent {
    padding: 0px 3px;
    width: 270px;
  }
  .container {
    padding: 0px 5px;
    width: 300px;
  }
  
}
@media only screen and (max-width: 270px){
  .renderContent {
    padding: 0px 3px;
    width: 230px;
  }
  .container {
    padding: 0px 5px;
    width: 270px;
  }
  
}


.responsive-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}


